*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.glass{
    width: 648px;
    height: 760px;
    background: linear-gradient(143.98deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;   
    border: none;

}

body{
    background-image: linear-gradient(to right bottom, #f0f0f0, #d9dbeb, #b9c9e6, #90b9e1, #659ab7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 78px;
    width: 80%;
}